.button {
    margin-top: 50px;
    width: 20%;
    height: 50px;
    border-radius: 40px;
    cursor:  pointer;
    border: 0px;
    background:linear-gradient(2deg, rgba(0, 38, 240, 2), rgba(0, 0, 0, 3)) ;
}

.button-search {
    flex: 1;
    margin-top: 50px;
    width: 40%;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(2deg, rgba(0, 38, 240, 2), rgba(0, 0, 0, 3));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-search {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    width: 80%;
  }
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}