#bg {
  background-image: url("./../../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.login-container {
  display: flex;
  justify-content: center; /* Centro horizontal */
  align-items: center; /* Centro vertical */
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
}

input[type="color"] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.title {
    position: relative;
    color: white;
    font-size: larger;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.form-box {
  position: relative;
  width: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column; /* Cambio a dirección de columna */
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Estilo para el formulario */
.form {
  width: 100%; /* Ancho 100% para ajustarse al contenedor */
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}
input:focus ~ label {
  top: -5px;
}
