

/* card */
.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    background-color: white;
    margin: 10px;
    height: 70%;   
}
.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;;

}
.image-container img{
    overflow: hidden;
    height: 200px;
}

.card-conten {
    margin: 1rem;
    margin-top: 0.5rem;
}

h3,p {
    margin: 2;
    padding: 0;
}

.card-title {
    margin-bottom: 0.5rem;
    text-align: start;
}

.btn {
    display: flex;
    justify-content: center;

}

.btn button {
    padding: 0.5 rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5 rem;
    border-radius: 3px;
}

.btn button:hover {
    background: rgba(27, 156, 252, 0.1);
    transform: scale(1);
}

a {
    text-transform: uppercase;
    color: #1b9cfc;
    text-decoration: none;
    font-weight: bold;
}


/* style.css */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 3 columnas de igual tamaño */
    grid-gap: 25px; /* Cambia el espacio entre las celdas de la grilla */
    max-height: 400px; /* Altura máxima de la grilla */
    overflow-y: auto; /* Agrega barra de desplazamiento vertical cuando se excede la altura */
    
}
  
  /* Estilos para los elementos de la grilla */
  .grid-container > * {
    background-color: #fafafa;
    height: 100%;
    margin-bottom: 10px; /* Aumenta la separación hacia abajo */
    margin-left: 0px; /* Reduce la separación hacia los lados */
    margin-right: 0px; /* Reduce la separación hacia los lados */
  }
  
  .background {
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 150px;
    background-image: url('../../../img/space.jpg');
    background-size: cover;
    padding: 5%;
  
  }
  