body {
  font-family: Arial, sans-serif;

}

.background {

  background-image: url('./../../img/bg.jpg');
  background-size: cover;

  background-repeat: no-repeat;

  background-attachment: fixed;
}


.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 4rem; /* Modifica el valor delogin-form max-width según tu preferencia */
  height: 8%; /* Modifica el valor de height según tu preferencia */
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(75, 10, 10, 0.75));
}
.loader:before {
  width: 100%;
  color: red !important;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #4b0606;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #040303;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #470808;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #2d0808;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #1d0404;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #170707;
    opacity: 1;
  }
}

.containerloader {
  display: flex;
  justify-content: center;
  align-items: center;
}

